{% extends "todo_pages/base.html" %}


{% block title %}
    ABOUT PAGE
{% endblock title %}    


{% block content %}

      <div class="jumbotron jumbotron-fluid  text-center mybg-dark">
            <div class="container">
            <h1 class="display-4">TO-DO LIST</h1>
            <p class="lead">Lorem ipsum Lorem ipsum dolor sit amet. sit amet.</p>
            <p class="lead">Lorem ipsum Lorem ipsum dolor sit amet. sit amet.</p>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nam fugit. Vitae quos maiores obcaecati nam ducimus, suscipit deserunt, nostrum molestiae ipsum libero, natus explicabo cum reprehenderit dolorem. Ipsam, inventore?</p>    
            </div>
      </div>

{% endblock content %}