{%  extends "todo_pages/base.html" %}

{% block title %} Create Your To-do{% endblock title %}

{%block content %}

<section  class="jumbotron jumbotron-fluid bg-secondary ">
      <div class="container">
            
            <div class="d-flex h-100 flex-column text-light justify-content-center">
                  <h1 class="display-1 mx-auto"> <span class="text-danger">TO-DO</span class="font-weight-bold"> LIST</h1>
                  <p class="lead text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt 
                        <span class="text-white font-weight-bolder">ut labore et dolore magna aliqua.</span></p>
                  <div class="mt-4">
                        <form method="POST">
                              {% csrf_token %}
                              <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label mt-0">
                                    <span class="text-white  font-weight-bolder">To-Do List</span>
                                </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="title">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">
                                    <span class="text-white  font-weight-bolder">Description</span>
                                </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="description">
                                </div>
                              </div>
                              
                              <div class="form-group row">
                                    <div class="col-sm-2">
                                          <span class="text-white  font-weight-bold">is Finished ?</span>
                                    </div>
                                    <div class="col-sm-10 ">
                                          <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck1" name="finished">
                                            <label class="form-check-label" >
                                                <span class="text-white  font-weight-bold">YES</span>
                                            </label>
                                          </div>
                                    </div>
                              </div>     
                              <div class="form-group row">
                                <div class="col-sm-10">
                                  <button type="submit" class="btn btn-success">Add To-Do</button>
                                </div>
                              </div>
                            </form>        
            
                  </div>           
            </div>                
            
      </div>
</section>




{% endblock %}