{% extends "todo_pages/base.html" %}

{% block title %}
      HOME PAGE
{% endblock title %}   


{% block content %}

       <section class="dark-bg" id="hero">
            <div class="container">
           
                  <div class="d-flex h-100 flex-column text-light justify-content-center">
                        <h1 class="display-1"> <span class="text-danger">TO-DO</span>LIST</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                              incididunt <span class="text-danger">ut labore et dolore magna aliqua.</span></p>
                        
                        <a href="{% url 'create' %}" class="btn  mt-5 w-50 mx-auto btn-outline-success font-weight-bold text-white">
                              Create To-Do List
                        </a>
                  </div>                        
                  
            </div>
      </section>
      

{% endblock content %}

