{% extends "todo_pages/base.html" %}

{% block title %}
      HOME PAGE
{% endblock title %}   


{% block content %}

      <div class="jumbotron jumbotron-fluid  text-center mybg-dark">
            <div class="container">
            <h1 class="display-4">TO-DO LIST</h1>
            <p class="lead">Lorem ipsum Lorem ipsum dolor sit amet. sit amet.</p>
            <button type="button" class="btn btn-outline-success font-weight-bolder text-dark">Create To-Do List</button>
            </div>
      </div>


      <h1>My name is {{ name }}</h1>

{% endblock content %}